{% extends 'delicious_way/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<h2 style="text-align: center;">Вкусный путь — пройдём вместе!</h2>

<p>«Вкусный путь» - это место, где ты можешь делиться своими любимыми рецептами, получать вдохновение для готовки или
    находить новые и интересные блюда. Здесь представлены рецепты, которые готовятся легко и быстро, в то же время блюда
    получаются очень вкусными.</p>
<p>Особенность нашего сайта, наше правило - правильное питание и минимальное время готовки!
<p>Здесь собраны рецепты, которые можно включить в меню тем, кто следит за здоровьем и красотой. В большинстве блюд нет
    много калорий и сведены к минимуму жиры, углеводы.Все представленные рецепты прошли долгий путь проверки и апробации.</p>
<p>В разделе «Добавить рецепт» можно поделиться своим любимым рецептом.Нашим читателям это будет интересно.</p>
<p>В разделе «Обратная связь» смело отправляй нам свой вопрос или предложение.Мы с радостью тебе ответим.</p>
<p>Под понравившимся рецептом ты можешь выразить своё мнение поставить «лайк». Это поможет нам и посетителям сайта оценить
    насколько был полезен контент, в каком направлении дальше развивать сайт.</p>
<p>Раздел "Добавить рецепт" и поставить "Лайк" доступны только зарегистрированным пользователям.</p>
<p>Политика конфиденциальности и использования данных: мы обрабатываем и защищаем твои личные данные, используя
    шифрования, защищенные соединения и ограниченный доступ к данным.</p>

{% endblock %}

